[mysqld]
port=3306
character-set-server=utf8mb4
default-storage-engine=INNODB
datadir=/var/lib/mysql/data/
log-error=/var/lib/mysql/logs/error.log
slow_query_log_file=/var/lib/mysql/logs/slow-query.log
long-query_time=2
binlog-expire-logs-seconds=604800
max_binlog_size=200M
general_log=1
[mysql]
default-character-set=utf8mb4
[client]
port=3306
default-character-set=utf8mb4
